.h1-header{
    width: 40%;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 105px;
    font-weight: normal;
    font-family: 'Cormorant', serif;

}